FLASK_ENV=production
SECRET_KEY=generate-a-random-secret-key
DATABASE_URL=postgresql://neondb_owner:npg_thd5WcfC3VuH@ep-weathered-feather-atznt8xg-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
FRONTEND_ORIGIN=http://localhost:5173
PORT=5001
